.mapListingContainer {
    flex-direction: row;
}
.listingContainer {
    width: 50%;
    background-color: 'black';
}
.mapContainer {
    width:50%;
    position: absolute;
    left: 52%;
    top: 12%;
}

.propertyButtonsWrapper {
    width: 100%;
    align-content: flex-end;
}
.interestedButton {
    align-self: flex-end;
}