.signatureCanvas {
    border: 1px solid black;
    width: 30%;
    height: auto;
}

.otto {
    float: right;
    margin-right: 30%;
}
.disclosingParty {
    float: right;
    margin-right: 27.5%;
}

.container {
    padding: 50px;
}