.dialogContainer {
    width: 400px;
    min-height: 600px;
    text-align: center;
}
#alert-dialog-slide-title {
    align-self: center;
}
.toggleSwitch {
    align-self: center;
}
.xButton {
    background-color: blue;
    width: 40px;
    float: right;
}
.xButtonWrapper { 
    background-color: blue;
    width: 100%;
}