body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

.searchForm{
    background-color: #dbd5d5;
    width: 50%;
    height: 150;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
    text-align: center;
}

.logInForm {
    background-color: #dbd5d5;
    width: 50%;
    height: auto;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
    text-align: center;
}

.registrationForm {
    background-color: #dbd5d5;
    width: 50%;
    height: 300px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
    text-align: center;
}
.alumniRegistrationForm{
    background-color: #dbd5d5;
    width: 50%;
    height: 650px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}



input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #053908;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #053908;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

.carousel{
margin-top: 15px;
margin-bottom: 15px;
}