footer {
    margin-top: 80px;
}

.nav-link {
    float: left;
    color: #f2f2f2;
    background-color: #00acb0;
    text-align: center;
    padding: 24px 10px;
    text-decoration: none;
    font-size: 15px;
}

.nav-right {
    float: right;
  }