.nav-title {
    font-size: 36px;
    font-weight: 700;
    display: inline-block;
    color: rgb(81, 78, 78);
    padding-left: 10px;
}

.nav {
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: rgb(240, 240, 240);
  /* display: flex; */
  /* direction: column; */
  /* float: right; */
  /* position: fixed; */
}

.nav-link {
  float: left;
  /* color: #f2f2f2; */
  background-color: rgb(240, 240, 240);
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: rgb(235, 235, 235);
}

.nav-right {
  float: right;
}